.scratchit {
	position:relative;
}
.scratchit > canvas {
	border: 1px solid black;
	cursor: crosshair;
}

.scratchit > canvas,
.scratchit > img + img {
	position: absolute;
	top: 0;
	left: 0;
}
.scratchit,
.scratchit * {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}